
.contenedor-padre{
    width: 100%;
    height: auto;
    background-color:;
}
/*contenedor-cabezara-bottom*/
.cabezera{
    width: 100%;
    height: auto;
   background-color: #da291c;
}

.contenedor-cabezera{
    width: 100%;
    height: auto;
   display: flex;
    height: auto ;
    justify-content:end;
    flex-direction: row-reverse;
    justify-content: space-between; 
    background-color: ;
}

.contenedor-logo {
    width:20%;
    height: auto;
    padding: 1px;
    background-color:;
}

.contenedor-boton {
    width: 20%;
    height: auto;
    border: 1px solid;
    padding: 1px;
    background-color:#da291c;
}


                /*contenedor navegador*/
.contenedor-navegador   
{
width: 100%;
height:auto;
background-color:#da291c;
display: flex;
align-content:center ;
align-items:end;
padding: 50px ;
}


                /*contenedor-lista-ordenada*/
.contenedor-lista
{
    width: 100%;
    margin: 0 auto; 
    overflow-x: auto; 
    overflow-y: visible; 
    white-space:nowrap; 
}
ul{
    text-decoration: none;
    display: flex;
    justify-content:center ;
    font-weight: ;
    list-style: none;
   
}
li a
{
margin:0;  
text-decoration:none;
padding:3px;
font-family:'Times New Roman',Times,serif;
background-color:#da291c;
width:100%;
height:auto ;
border:1px;
font-size:14px;
font-family: 'Franklin Gothic Medium','Arial Narrow', Arial, sans-serif;
color: white;
font-weight:;
}


                    /*contenido-de-pagina*/


.contenedor-publicidad{
    width:100%;
    height:auto;
    padding: 50px;
}





.contenedor-equipos
{
    display:flex;
    width:100%;
    height:auto;
    padding:15px;
    background-color:beige ;
}
.contenedor-equipos2
{
    display:flex;
    width:100%;
    height:auto;
    
}


.equipos{
    width:100%;
    height: auto;
    border-radius:15px;
    display: flex;
    padding: 5px;
    
}

.botondimg{
    width:100%;
    display:flex;
    justify-content: center;
    border-radius:25px;
    font-family: 'Times New Roman', Times, serif;
    padding:1px;
    height: auto;
    transition:background-color 0.10s; /* duración de la transición */
    cursor:pointer;
   background-color:whitesmoke;
    
}
.botoncito{
background-color:white;
transform: scale(1.1);
}




                        /*contenedor-lateral*/



.contenedor-seccion
{
    width:100%;
    height:auto;
    
    border:1px ;
    background-color:beige;
    padding:1px ;


   
 }
.contenedor-formulario{
    width:100%;
    height:100%;
    background-color:#da291c;
    text-align: center;
    padding: 10px;
    border-bottom:0;
    border-radius:;

    
}


                  /*contenedor pie de pagina*/
.contenedor-piepagina
{
width: 100%;
height:auto;
background-color:;
}


.contenedor-imagenes{
margin: 10px;
margin-left: 25px;
}
.centrando-texto{
    padding:70px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content:center;
    background-color: beige;
   font-family: 'Times New Roman', Times, serif;
   font-weight: 600; 
}
.botones-servicio{
   
    
    padding: 10px;
    height:px;
    background-color: rgb(235, 247, 255);
    width:33.33%;
    border-radius: 25px;
}
.publicidad{
             width:70% ;
            float: right;
            display: flex;
}
.seleccionar{
    
    width:33.33%;
    background-color:white;
    border: solid red;
    height: auto;
    border-radius: 25px;
    justify-content: space-between; 
    flex-direction: row-reverse;
    display: flex;

}
.planes{
    display: flex;
    justify-content:center;
    
}
.planes2{
    width:50% ;
    height:auto;
    background-color:whitesmoke;
    border-radius:10px ;   
    max-height: 300px; ;
}
.texto-boton{
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}
.boton-imput{
    width:100%;
    height: auto;
    border-radius:15px;
    display: flex;
    padding: 5px;
    


}
.contenedor-video 
{
width: 75%;
height: auto;
background-color: beige;
border-radius: 5px;
padding:25px ;

}
.video-publicitario{
width:100% ;
height: auto;
box-shadow:white;

}